.done {
  height: 8px;
  width: 8px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.inProgress {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.hidden {
  width: 2px;
  display: inline-block;
}
