.container {
  width: 576px;
  overflow-x: scroll;
  padding: 2px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.stripe {
  display: inline-flex;

  .today {
    background-color: orange;
    color: white;
  }

  .active {
    background-color: #7ce2d5;
    color: white;
  }

  li {
    text-align: center;
    width: 40px;
  }
}
